/* .uppy-Root {
   position: relative;
   height: 100%;
   width: 100%;

   .uppy-Dashboard {
      position: relative;
      height: 100%;
      width: 100%;
   }

   .uppy-Dashboard-inner {
      position: relative;
      height: 100% !important;
      width: 100% !important;
   }
} */