.full-width {
  float: left;
  width: 100%;
}

#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.leftSidebarMenu {
  a {
    color: #888;
  }
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.videoTitle {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.publishedDate {
  color: #777;
  font-size: 14px;
}

.videoDuration {
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: rgba(0,0,0,0.6);
  line-height: 1;
  padding: 3px 5px;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: 500;

}

.floating-btn {
  font-size: 30px;
  position: fixed;
  z-index: 12;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  background-color: #fa541c;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  border: 2px solid transparent;

  &:hover {
    color: #fa541c;
    border-color: #fa541c;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}