:root {
  --primary: #3d5af1;
  --secondary: #3e3636;

}

.position-relative {
  position: relative;
}

.main {
  padding: 24px 24px 50px 24px;
}

.brandingLogoBlock {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100%;
}